@import url("./css/variable.css");

/* .emokloredie.d10.max { */
/*   color: #aa0200; */
/*   filter: sepia(0.5) hue-rotate(60deg); */
/* } */
/**/
/* .emokloredie.d10.min.success { */
/*   color: #0072ff; */
/*   filter: sepia(0.5) hue-rotate(60deg); */
/* } */

.emoklore.sheet.character:not(.minimized, .minimizing, .maximizing) {
  min-width: 601px;
  min-height: 420px;
}


.theme-dark .window-content {
  padding-top: 0 !important;
}

.emoklore .application secton.window-content {
    padding-top:0;
  }

.emoklore.sheet.character {
  section.tab {
    overflow: auto;
    padding: 0.5rem;
  }

  .small {
    font-size:small;
  }

  range-picker > input[type=number] {
    flex: 0 0 20px;
  }

  header {
    /* height: 74px; */

    .name {
      flex: 1;
      font-size: var(--font-size-48);
      padding: 0 .5rem;

      input {
        height: initial;
        padding: inherit;
      }
    }
  }

  .sheet-header .container {
    display: grid;
    grid-auto-flow:column;
    justify-content: space-between;
    align-items:flex-end;
    height: 100%;
  }

  .tab.active {
    display: grid;
    grid-template-columns: var(--emoklore-sheet-sidebar-width) 1fr;
  }

  .effects.tab.active {
    display: flex;
  }


  progress {
    height: 10px;
    margin:2px;
    background-color: var(--emoklore-gray);
    border-radius: var(--emoklore-progress-radius);
  }
  progress::-webkit-progress-bar {
    background-color: var(--emoklore-gray);
    border-radius: var(--emoklore-progress-radius);
  }
  progress::-webkit-progress-value {
    background-color: var(--emoklore-accent-color);
    border-radius: var(--emoklore-progress-radius);
  }
  progress::-moz-progress-bar {
    background-color: var(--emoklore-accent-color);
    border-radius: var(--emoklore-progress-radius);
  }
  progress::-ms-fill {
    background-color: var(--emoklore-accent-color);
    border-radius: var(--emoklore-progress-radius);
  }

  div.resources > div.bar > div > div > input[type=number] {
    padding: 5px;
    height:1.3em;
    width: 2em;
    font-size:1.1em;
  }

  .resources{
    height: inherit;
    display: grid;
    grid-template-columns:90px 145px;
    grid-template-rows:1fr 1fr;
    justify-content: center;
    padding-bottom:8px;
    column-gap:15px;

    .hp {
      grid-row:1;
      grid-column:1;
    }
    .mp {
      grid-row:2;
      grid-column:1;
    }
    .resonance {
      grid-row:1/3;
      grid-column:2;
      padding-bottom:2px;
    }

    progress {
      height: 4px;
      width:90px;
      /* grid-row:2/3; */
      /* grid-column:1/4; */
    }

    .resonance progress {
      width:145px;
    }

    div.resonance.bar {
      display:flex;
      align-items:flex-end;


      .info {
        /* display:flex; */
        /* justify-content:space-between; */
        /* align-items:flex-end; */
        display:grid;
        grid-template-columns:49px 56px 40px;
        grid-template-rows:1fr 1fr 1fr;


        a.label {
          grid-row:1/3;
          grid-column:1;
          font-size:1.8em;
          margin-top:5px;
          align-self:flex-start;
        }

        div.value {
          grid-row:3;
          grid-column:1;
        }
      }

      .small {
        font-size:0.8em;
      }

      .emotions {
        font-size:0.9em;
      }
    }

    .bar{
      display:flex;
      /* grid-template-rows:1fr 6px; */
      /* grid-template-columns:25px 1fr 25px; */
      /* position: relative; */
      flex-direction:column;
      justify-content: space-evenly;


      i.label {
        display:flex;
        /* justify-content:space-between; */
        align-items:flex-end;
        font-size: 1.1em;
        /* pointer-events: none; */
      }

      .info {
        display:flex;
        justify-content:space-between;
        align-items:flex-end;
      }
    }
  }

  .card {
    background: var(--emoklore-darkgray);
    display:flex;
    flex-direction:column;
    border-radius: var(--emoklore-card-radius);

    img {
      border-top-left-radius: var(--emoklore-card-radius);
      border-top-right-radius: var(--emoklore-card-radius);
    }
  }

  /* 共鳴感情 */
  .emotions {
    display:flex;
    flex-direction: column;
  }

  .emotions .play {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
  }


  .characteristics {
    display:flex;
    flex-direction:column;
    padding: 8px;
    padding-top: 2px;

    .characteristic {
      align-items: center;
      display:flex;
      margin-top: 6px;
      justify-content:space-between;

      label {
        margin-right: auto;
      }
      .value {
        margin-right: 10px;
      }
    }
  }

  /* 能力値 */
  .characteristic {
    progress {
      height: 20px;
      border-radius: var(--emoklore-progress-radius2);
    }

    progress::-webkit-progress-bar {
      border-radius: var(--emoklore-progress-radius2);
    }
    progress::-webkit-progress-value {
      border-radius: var(--emoklore-progress-radius2);
    }
    progress::-moz-progress-bar {
      border-radius: var(--emoklore-progress-radius2);
    }
    progress::-ms-fill {
      border-radius: var(--emoklore-progress-radius2);
    }
  }

  /* 技能 */

  .skills {
    display:flex;
    flex-direction:column;
    padding: 8px;
  }

  .skill {
    progress {
      height: 20px;
      margin-left:10px;
      width:90px;
      border-radius: var(--emoklore-progress-radius2);
    }

    progress::-webkit-progress-bar {
      border-radius: var(--emoklore-progress-radius2);
    }
    progress::-webkit-progress-value {
      border-radius: var(--emoklore-progress-radius2);
    }
    progress::-moz-progress-bar {
      border-radius: var(--emoklore-progress-radius2);
    }
    progress::-ms-fill {
      border-radius: var(--emoklore-progress-radius2);
    }
  }

  .skill.play{
    display:grid;
    grid-template-columns: 1fr 20px 115px 20px 20px;
    align-items:center;
    margin-top:5px;
    margin-bottom:5px;

    .target{
      margin-left:0px;
    }
  }

  .skill{
    display:grid;
    grid-template-columns: 1fr 120px 20px 60px;
    align-items:center;
    margin-top:2px;
    margin-bottom:2px;

    select {
      padding: 0;
    }

    .target{
      border:1px solid;
      border-radius:2px;
      text-align:center;
      margin-left:5px;
    }

    .characteristic{
      margin-left:6px;
    }

    .characteristic:has(select){
      margin-left:1px;
    }
  }


  .base-skills {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    padding:8px;
  }

  .base-skill {
    background:rgb(40 40 40 / 80%); /* テーマ対応 */
    margin-right:10px;
    margin-top:4px;
    border:1px dotted;
    border-radius:2px;
    text-align:center;
    padding-left:3px;
    padding-right:3px;
  }

  .pill {
    font-size:1.1em;
    margin-top:12px;
    background: var(--emoklore-black);
    border-radius:10px;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:8px;
    padding-right:8px;
  }

  .biographies {
    display:flex;
    flex-direction:column;
    gap: 10px;
  }

  & [data-application-part="biography"] {
    div.flexrow {
      gap: 20px;
    }

    .form-group {
      display:flex;
      flex-direction:column;
      align-items:flex-start;
      gap:0px;
    }

    .form-group.stacked{
      display:flex;
      flex-direction:row;
    }

    .bio {
      display:flex;
      flex-direction:column;
      align-items:flex-start;
      gap:0px;
    }

    .bio.very-short, .bio.short {
      display:flex;
      flex-direction:row;
      gap:8px;
    }

    .bio.stacked{
      display:flex;
      flex-direction:row;
    }

    .biographies label {
    color: var(--color-form-label);
        font-weight: bold;
      }
    .biographies .label {
    color: var(--color-form-label);
        font-weight: bold;
      }
  }

  /*
  .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--boilerplate-c-groove);
  font-weight: bold;
}
.effects-header > * {
  font-size: 14px;
  text-align: center;
}
.effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--boilerplate-c-tan);
}
.effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.effects-list .effect-name h3, .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--boilerplate-c-faint);
}
.effects-list .effect:last-child {
  border-bottom: none;
}
.effects-list .effect .effect-name {
  color: var(--boilerplate-c-dark);
}
.effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--boilerplate-c-groove);
  font-weight: bold;
}
.effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.effects .item .effect-source,
.effects .item .effect-duration,
.effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.effects .item .effect-controls {
  border: none;
}
*/
}
