
{{#if isPlay}}
<fieldset class="baseskill">
  <legend>{{localize "EMOKLORE.baseSkill"}}</legend>
  {{#each system.baseSkills as |baseSkill key|}}
  <div class="baseskill flexrow" data-baseskill="{{key}}">
    <a class="label" data-action="roll" data-roll-type="skill" data-skill="{{key}}">{{baseSkill.label}}</a>
  </div>
  {{/each}}
</fieldset>
{{/if}}
