{{#if isPlay}}
<div class="base-skills">
  {{#each system.baseSkills as |baseSkill key|}}
  <button class="base-skill label" 
    data-action="roll" 
    data-roll-type="base-skill" 
    data-skill="{{key}}">
    {{baseSkill.label}} | {{baseSkill.target}}
    <i class="characteristic fa-solid {{lookup (lookup ../config.characteristics baseSkill.characteristic) 'fa'}}"></i>
  </button>
  {{/each}}
</div>
{{/if}}
