/* ラベルと値を縦に積む項目リスト。経歴タブで使う */

.emoklore.sheet.character {
  .biographies {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & [data-application-part="biography"] {
    div.flexrow {
      gap: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
    }

    .form-group.stacked {
      display: flex;
      flex-direction: row;

      .editor-container {
        min-height: 150px;
      }
    }

    .bio {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
    }

    .bio.very-short,
    .bio.short {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }

    .biographies label {
      color: var(--color-form-label);
      font-weight: bold;
    }
  }
}
